.container {
  display: flex;
}

.left,
.right {
  --pad-inline: 3rem;
  padding-block: 2rem;
}

.left {
  flex: 6;
  display: grid;
  padding-inline: var(--pad-inline);
}

.right {
  background-color: #131313;
  flex: 4;
  padding-inline: var(--pad-inline);
  position: sticky;
  top: 0;
  height: calc(100vh - var(--nav-height));
}

.left .content {
  width: 100%;
  max-width: 650px;
  justify-self: flex-end;
}

.right .content {
  width: 100%;
  max-width: 450px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-bottom: 0.825rem;
  margin-top: 2rem;
}

.left .section {
  margin-top: 2rem;
}

.courseDetail {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.courseDetail img {
  width: 80px;
  aspect-ratio: 16 / 9;
}

.highlight {
  color: var(--secondary);
}
.right .content .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}
.right .content .section .headText {
  font-size: 18px;
  font-weight: 600;
}

.tabInnerContent {
  display: flex;
  flex-direction: column;
}
.liner {
  display: block;
  width: 100%;
  margin-top: 10px;
  border-bottom: 2px solid #fff;
}
.summary {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
  color: #eb008b;
}
.summary::after {
  content: "";
  display: flex;
  width: 30%;
  margin-top: 5px;
  border-bottom: 1px solid #eb008b;
}
.redText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #FF0000;
}
.billingParts {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background: #292A2E;
  width: 100%;
}
.inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}