.container {
  flex: 4;
  height: max-content;
  /* border: var(--border); */
  background-color: var(--card-bg);
  position: sticky;
  top: 120px;
  /* top: 30px;
  z-index: 10; */
  border-radius: 4px;
  overflow: hidden;
}

.img {
  display: flex;
}

.img img {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.content {
  padding: 20px 0;
}

#price {
  font-size: 32px;
  margin-bottom: 8px;
}

.include {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0 20px;
}

.include p {
  font-size: 16px;
  font-weight: 500;
}

.include ul {
  margin-top: 12px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.include ul li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.include ul li p {
  font-weight: 400;
}

.icon {
  font-size: 20px;
}

#highlight {
  background-color: var(--secondary);
  color: black;
  width: max-content;
  padding: 1px 8px;
  border-radius: 2px;
  gap: 8px;
}

#highlight p {
  font-size: 14px;
  font-weight: 500;
}

#highlight .icon {
  font-size: 16px;
}
.insider{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px;
}
.singleBox{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricePart {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.otherInfo{
  display: flex;
  align-items: center;
  gap: 5px;
}
.afterDiscountPrice {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}
.originalPrice {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #de076e;
  text-decoration: line-through;
}
.discountPercentage {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #2bb970;
}
.validity {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
.emiAvalibility {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #979797;
  border-left: 1px solid #979797;
  padding-left: 5px;
}
.accordianInsider {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
@media only screen and (max-width: 800px) {
  .container {
    position: static;
    border: none;
  }

  .content {
    margin-top: 12px;
    /* padding: 0; */
  }

  .include {
    display: none;
  }

  .share {
    border-top: none;
    padding-top: 0;
  }
}
