.phoneIcon{
    display: flex;
    font-size: 30px;
    border: 2px solid #de076e;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    align-items: center;
    padding-left: 2%;
}

.phoneContent{
    font-size: 13px;
    color:#929292;
}

.phoneBlock{
    display: flex;
    gap: 3%;
    align-items: center;
    margin-top: 10px;
}

.form{
    flex: 7 0;
    background: #434242;
    padding: 15px;
}

.submitBtn{
    background: #004381;
    padding: 7px 15px;
    border-radius: 5px;
}

.inputType{
    font-size: 12px;
    padding: 6px 0 6px 6px;
    background: #D9D9D9;
    border-radius: 3px;
}

.inputType::placeholder{
    color: #929292;
}
