.mainScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: #d7d7d7;
  min-height: 60vh;
  height: 60vh;
  max-height: 60vh;
}
.headingText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  color: #e01c46;
}
.dividerLine {
  display: inline-flex;
  width: 23%;
  border-bottom: 3px solid #e01c46;
  margin-top: 10px;
}
.labelText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 60px;
  color: #000000;
  margin: 0;
}
.valueText {
  font-weight: 700;
}
.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
.instructionScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: #d7d7d7;
  min-height: 60vh;
  height: 60vh;
  max-height: 60vh;
  overflow-y: hidden;
  gap: 10px;
  padding: 10px;
}
.instructionHeading {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 60px;
  color: #e01c46;
  margin: 0;
}
.instructionContent {
  display: flex;
  flex-direction: column;
  height: 70%;
  max-height: 70%;
  text-align: center;
  overflow-y: auto;
  gap: 2rem;
  padding: 1rem 1.8rem;
}
.instructionContent > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin: 0;
}
.startBtn {
  width: 100%;
  background: #2bb970;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 10px;
}
.quizMain {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 60vh;
  height: 60vh;
  max-height: 60vh;
  overflow-y: hidden;
  background-color: #d7d7d7;
  padding: 1rem;
  gap: 10px;
  position: relative;
}
.topPart {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.fullScreenBtn {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 14px;
  color: #000000;
}
.btnText {
  display: inline-flex;
  background: #707070;
  font-family: "Poppins";
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  padding: 2px 8px;
}
.reaminTime {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
.timeLabel {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #e01c46;
  margin: 0 8px 0 0;
}
.timeBlock {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: #000000;
}
.colonBlock {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #e01c46;
  padding: 0 5px;
}
.quizPart {
  display: flex;
  width: 100%;
  background-color: #fff;
  height: 90%;
  min-height: 90%;
  max-height: 90%;
  padding: 10px 10px 10px 25px;
  gap: 10px;
}

.quizPart .rightPart {
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: column;
  padding: 20px;
  background: #d9d9d9;
  justify-content: flex-start;
}
.quizPart .rightPart .readPart {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}
.readPart p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 30px;
  color: #000000;
}
.blocks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.blocks .block {
  display: flex;
  width: 50%;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
.answered {
  width: 20px;
  height: 20px;
  background: #367cff;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}
.notAnswered {
  width: 20px;
  height: 20px;
  background: #292a2e;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}
.notVisited {
  width: 20px;
  height: 20px;
  background: #979797;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}
.block p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  color: #000000;
  margin: 0;
}
.quizPart .rightPart .indicatorPart {
  padding-top: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}
.quizPart .rightPart .indicatorPart .answered,
.quizPart .rightPart .indicatorPart .notAnswered,
.quizPart .rightPart .indicatorPart .notVisited {
  width: 25px;
  height: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quizPart .leftPart {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.leftPart .quesHeadPart {
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #000000;
  align-items: center;
  justify-content: space-between;
}
.leftPart .quesHeadPart .quesNo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.leftPart .quesHeadPart .points {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.leftPart .quesHeadPart .points span {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.leftPart .quesHeadPart .points span.plusPoint {
  color: #2bb970;
}
.leftPart .quesHeadPart .points span.minusPoint {
  color: #ff0000;
}
.questionBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 15px;
  padding-left: 10px;
  border-bottom: 1px solid #000000;
  color: #000000;
  row-gap: 20px;
}
.questionBlock h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: o;
  margin-top: 10px;
}
.queOption {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  cursor: pointer;
}
.queOption .optionIndex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: #000000;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
.queOption .optionText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  width: 35%;
  height: 34px;
  color: #000000;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.leftPart .actionPart {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 10px;
}
.leftPart .actionPart .quickActions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.leftPart .actionPart button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 27px;
  min-height: 27px;
  max-height: 27px;
  padding: 0 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}
.leftPart .actionPart button.saveBtn {
  background-color: #367cff;
  font-size: 14px;
}
.leftPart .actionPart button.clearBtn {
  background-color: #fff;
  border: 2px solid #d9d9d9;
  color: #979797;
  font-size: 14px;
}
.leftPart .actionPart button.submitBtn {
  background-color: #2bb970;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.quizMain .overlayModel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}
.overlayModel .resultPart {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* height: 85%; */
  background: #fcfcfc;
  border: 1px solid #000000;
  padding-top: 10px;
}
.resultPart .headingResult {
  background: #d9d9d9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.resultPart .content {
  padding-top: 25px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.content .values {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}
.content .values span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.resultPart .continueBtn {
  height: 27px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #367cff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  margin-top: 10px;
}
.resultPart .responseBtn {
  height: 27px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #2bb970;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 25px;
}
.resultScreenMain {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow-y: hidden;
  background-color: #d7d7d7;
  padding: 1rem;
  gap: 10px;
  position: relative;
}
.progressBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.textLabel {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #e01c46;
  margin: 0;
}
.progressValue {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #165dff;
}
.chartPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
}
.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.indication {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex: 2;
  height: 100%;
  gap: 30px;
  padding-left: 50px;
  padding-bottom: 20px;
}
.indicatorBlock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 25px;
  gap: 20px;
}
.correct {
  display: block;
  width: 22px;
  height: 23px;
  background-color: #2bb970;
}
.answerMethod,
.answersNo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.answersNo {
  margin-inline-start: 50px;
}
.notAnswered {
  display: block;
  width: 22px;
  height: 23px;
  background-color: #292a2e;
}
.wrongAnswered {
  display: block;
  width: 22px;
  height: 23px;
  background-color: #ff0000;
}
.quesPart {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fcfcfc;
  margin-top: 15px;
}
.quesionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 15px;
  border-bottom: 1px solid #000000;
}
.quesionContainer .questionBlock {
  border: none;
}
.answerPart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background: #eaeaea;
  padding: 1rem;
  height: 85%;
  width: 60%;
}

.wrongAnswer, .rightAnswer,.skippedAnswer {
  display: inline-flex;
  padding-right: 15px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  color: #ff0000;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
.rightAnswer {
  color: #2bb970;
}
.skippedAnswer {
  color: #292a2e;
}
.correctAns {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.yourAns {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  margin-bottom: 1rem;
}
.gotMark {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  color: #000000;
}
