

/* .main {
  background-image:url(../public/assets/Rectangle.svg);
  background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 125vh;
    padding: 0 10%;
} */
.maingreat{
    z-index:1;
}
.hading{
    font-size:28px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: -10%;
}
.text{
    font-size:18px;
    text-align: center;
    margin-bottom: 30px;
}
.man{
    height: 300px;

}
.coursename{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.letsbegain{
    border: 1px solid white;

}
