.container {
  margin-top: 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header h3 {
  font-size: 20px;
  font-weight: 600;
}

.courseBanner {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.contentBox {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(16, 15, 35, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
}
.contentBox img {
  width: 75%;
  margin-left: auto;
  margin-right: 25px;
}
.contentBlock {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 100%;
  z-index: 5;
  left: 10%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(16, 15, 35, 1) 65%,
    rgba(0, 0, 0, 0) 100%
  );
}
.headingText {
  font-size: 35px;
  font-weight: 700;
}
.enrollBtn,
.primaryBtn {
  display: flex;
  cursor: pointer;
  background-color: white;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  color: black;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 5px;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 1);
}
.tabs .primaryBtn {
  background-color: #d6bcfa;
}
.tabs .enrollBtn,
.tabs .primaryBtn {
  font-size: 14px;
}
.enrollBtn:hover,
.tabs .primaryBtn:hover {
  background-color: #b794f4;
}
@media screen and (max-width: 840px) {
  .headingText {
    font-size: 25px;
    font-weight: 600;
  }
  .enrollBtn {
    font-size: 14px;
    padding: 5px 10px;
  }
  .tabs .enrollBtn,
  .tabs .primaryBtn {
    font-size: 10px;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 767px) {
  .contentBox {
    flex-direction: column-reverse;
  }
  .contentBox img {
    width: 100%;
  }
  .contentBlock {
    position: unset;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    flex-wrap: wrap;
  }
  .headingText {
    font-size: 18px;
    font-weight: 500;
  }
}
